
.work {
    margin-top: 25px;
}

  .card-img-top {
      height: 275px;
  }
  /* .over-text {
    width: 100%;
    color: white;
    font-size: 16.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    position: absolute;
    height: 12em;
    border-style: inset;
    border-width: 3px;
    border-color: rgb(70, 68, 68);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } */
  .info-button {
      position: relative;
      bottom: 170px;
      color: sienna;
  }

  .card {
      border: 5px groove rgb(208, 171, 149);
  }
  .card-text {
    display: flex 1;
    flex-direction: column;
    height: 75px;
    overflow-y: auto !important;
    text-align: center;
  }
  .card-button {
      width: 130px;
      margin-right: 45px;
      margin-left: 45px;
  }
  @media only screen and (min-width: 600px) {
    .card-button {
      margin-right: 0px;
      margin-left: 0px;
    }
  } 
  @media only screen and (max-width: 600px) {
      .card-img-top {
          height: 200px;
      }
  }
  h3 {
      margin-top: 80px;
  }

  #backImg {
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: round;
    z-index: -1;
}