
.work {
    margin-top: 25px;
}

  .card-img-top {
      height: 275px;
  }
  .over-text {
    width: 100%;
    /* background-color: black; */
    color: white;
    font-size: 16.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    position: absolute;
    height: 12em;
    border-style: inset;
    border-width: 3px;
    border-color: rgb(70, 68, 68);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .info-button {
      position: relative;
      bottom: 170px;
      color: sienna;
  }

  .card {
      border: 5px groove rgb(208, 171, 149);
  }

  .card-group {
      background-image: "url('images/sunset.jpg')";
  }

  .card-button {
      width: 130px;
      margin-right: 45px;
      margin-left: 45px;
  }