.btn-outline-secondary {
    color: sienna;
    border-color: sienna;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-secondary:hover {
    color: white;
    background-color: sienna;
    border-color: white;
    box-shadow: white;
}