
#backImg {
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: round;
    z-index: -1;
}

#content {
    background-color: rgba(0,0,0,0);
    padding-top: 50px;
    padding-bottom: 50px;
}

.text {
    color: rgba(240, 238, 227);
    font-weight: bold;
}

.jumbotron {
    margin-bottom: 80px;
}